<div class="third-party-login">
  <%= link_to '/auth/facebook' do %>
      <i class="fa fa-facebook-f fa-2x"></i>
  <% end %>

  <%= link_to '/auth/google_oauth2' do %>
      <i class="fa fa fa-google-plus fa-2x"></i>
  <% end %>
</div>