<nav class="main-navbar">
  <div class="nav-wrapper">
    <%= link_to 'App', root_path, class: 'brand-logo' %>
    <ul class="right">
      <li>

      </li>
    </ul>
  </div>
</nav>


<ul id="dropdown-profile" class="dropdown-content">

</ul>